In [1]:
import pandas as pd
import plotly.express as px
px.set_mapbox_access_token("pk.eyJ1IjoibHVpemhlbWVsbyIsImEiOiJjbG9hZGkzdDQwaG94Mm1udmg4Mmx0ZG45In0.etjGdsIyRFv-oaU74-8DTg")

In [2]:
df = pd.read_pickle('../../dados_enem/enem_data.pickle')
df

,Ano,Num_Candidatos,Num_Brancos,Num_Pretos,id,Cidade,Estado,Latitude,Longitude
0,2013,271845,144046,29765,3550308,sao paulo,sao paulo,-23.550651,-46.633382
1,2013,200306,89097,32028,3304557,rio de janeiro,rio de janeiro,-22.911014,-43.209373
2,2013,167533,45373,13575,2304400,fortaleza,ceara,-3.730451,-38.521799
3,2013,141551,17239,51917,2927408,salvador,bahia,-12.982250,-38.481277
4,2013,136953,45891,23686,3106200,belo horizonte,minas gerais,-19.922732,-43.945095
...,...,...,...,...,...,...,...,...,...
16898,2022,57,6,2,1200328,jordao,acre,-9.190540,-71.948480
16899,2022,53,5,19,1703701,brejinho de nazare,tocantins,-11.013827,-48.564626
16900,2022,51,18,6,3505401,barra do turvo,sao paulo,-24.756421,-48.505694
16901,2022,48,5,2,1302108,japura,amazonas,-7.178151,-71.853896
16902,2022,36,11,5,2605459,fernando de noronha,pernambuco,-3.853750,-32.419802

In [3]:
fig = px.scatter_mapbox(
    data_frame=df,
    lat="Latitude",
    lon="Longitude",
    size="Num_Candidatos",
    animation_frame="Ano",
    text=None,
    color="Estado",
    color_continuous_scale=px.colors.cyclical.IceFire,
    size_max=40,
    zoom=3,
    mapbox_style="carto-positron",
    height=700,
    center = dict(lat = -15.685413, lon = -53.679588),
    labels={
        "Num_Candidatos": "Número de candidatos"
    }
)

#fig.show()
fig.write_html("../src/vis/vis02.html")